<?php

$prefix = '';

if (env('CI')) {
    $prefix = 'test-'.env('HEROKU_TEST_RUN_NUMBER').'_';
}

return [
    'eventstore' => [
        'url' => env('EVENTSTORE_URL'),
        'web_url' => env('EVENTSTORE_WEB_URL'),
        'streams' => [
            'accounts' => $prefix.env('EVENTSTORE_STREAMS_ACCOUNTS'),
            'billing' => $prefix.env('EVENTSTORE_STREAMS_BILLING'),
            'business_exceptions' => $prefix.env('EVENTSTORE_STREAMS_BUSINESS_EXCEPTIONS'),
            'chargebee' => $prefix.env('EVENTSTORE_STREAMS_CHARGEBEE'),
            'policies' => $prefix.env('EVENTSTORE_STREAMS_POLICIES'),
            'quotes' => $prefix.env('EVENTSTORE_STREAMS_QUOTES'),
        ],
        'subscription' => env('EVENTSTORE_SUBSCRIPTION'),
        'subscription_streams' => array_map(function($item) use ($prefix) {
            return $prefix.$item;
        }, explode(',', env('EVENTSTORE_SUBSCRIPTION_STREAMS'))),
    ],
];
